.leftsidebar {
  color: white;
  width: 21vw;
  height: calc(100% - 90px);

  &::-webkit-scrollbar {
    display: none;
  }

  .top {
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #121212;
    border-radius: 8px;
    padding-left: 30px;
    margin-bottom: 10px;

    .topTop {
      display: flex;
      color: rgb(190, 190, 190);
      font-weight: 600;
      transition: 0.5s;

      a {
        color: inherit;
        text-decoration: none;

        span {
          margin-left: 20px;
        }
      }

      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    .topBottom {
      display: flex;
      color: rgb(190, 190, 190);
      font-weight: 600;
      transition: 0.5s;

      a {
        color: inherit;
        text-decoration: none;

        span {
          margin-left: 22px;
        }
      }

      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  .bottom {
    padding-left: 10px;
    background-color: #121212;
    border-radius: 8px;
    padding-top: 5px;

    .first {
      margin: 10px 20px;
      color: rgb(190, 190, 190);
      font-weight: 600;
      // width: calc(100% - 50px);
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        .icon {
          padding-left: 5px;
        }

        span {
          margin-left: 15px;
        }

        &:hover {
          color: white;
          cursor: pointer;
        }
      }

      .right {
        width: 25%;
        display: flex;
        justify-content: space-between;

        .icon {
          padding: 10px;
          border-radius: 50%;

          &:hover {
            background-color: #242424;
            color: white;
            cursor: pointer;
          }
        }
      }
    }

    .second {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      padding-left: 10px;
      overflow: hidden;

      .filterButton {
        border: none;
        min-width: fit-content;
        padding: 11px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 600;
        background-color: #232323;
        color: white;
        transition: 0.5s all ease;

        &:hover {
          background-color: #2a2a2a;
          cursor: pointer;
        }
      }
    }

    .third {
      display: flex;
      align-items: center;
      margin: 0px 10px;
      justify-content: space-between;
      padding-left: 10px;
      padding-bottom: 10px;

      .icon {
        color: #a7a7a7;
        padding: 10px;
        background-color: transparent;
        border-radius: 50%;

        &:hover {
          background-color: #242424;
          color: white;
          cursor: pointer;
        }
      }

      .sortingButton {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 10px;
        font-size: 13px;
        color: #a7a7a7;
        font-weight: 500;

        &:hover {
          scale: 1.03;
          color: white;
          cursor: pointer;
        }
      }
    }

    .collection {
      overflow: scroll;

      .item {
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 7px;
        cursor: pointer;
        margin-right: 10px;
        text-decoration: none;
        color: white;

        img {
          width: 50px;
          height: 50px;
          border-radius: 5px;
          margin-right: 15px;
        }

        .info {
          .infoTitle {
            margin: 0;
            padding: 0;
            font-size: 15px;
          }

          span {
            font-size: 13px;
            color: #a7a7a7;
            font-weight: 600;
          }
        }

        &:hover {
          background-color: #1a1a1a;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .track-vertical {
    top: 2px;
    bottom: 2px;
    right: 2px;
    min-width: 10px;
    background: transparent;

    .thumb-vertical {
      position: relative;
      display: block;
      width: 100%;
      border-radius: inherit;
      background-color: lightgray;
      opacity: 0.3;
    }
  }

  .view {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: scroll;
    margin-right: -15px;
    margin-bottom: -17px !important; // changed from -15px  (default) to -17px (native scrollbar had a portion visible)
  }

  &.closed {
    width: 80px;

    .top {
      span {
        display: none;
      }
    }

    .bottom {
      padding-left: 5px;
      padding-right: 5px;

      .first {
        .left {
          .icon {
            margin: 18px 0;
          }

          span {
            display: none;
          }
        }

        .right {
          display: none;
        }
      }

      .second {
        display: none;
      }

      .third {
        display: none;
      }

      .collection {
        .item {
          margin-right: 0;
          .info {
            display: none;
          }
        }
      }
    }
  }
}
